body {
    background-color: lightyellow;
}

.row {
    display: flex;
}
.col {
    width: 50%;
    padding: 0.5rem;
}

.books__item {
    border: solid 1px black;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.books__item:hover {
    background-color: cyan;
}

.book-details__title {
    font-size: 18px;
    font-weight: 700;
}

.book-details__image > img {
    width: 200px;
    height: auto;
}

.book-details__description {
    font-size: 16px;
}